# We enable group of checks like for example `modernize-*` or `readability-*` and disable only the failing ones.
# When fixing particular check, just remove it from skiplist.
# Bottom section is for checks skipped on purpose.
Checks: '*,
 -abseil-*,
 -altera-*,
 -android-*,
 -boost-*,
 -concurrency-*,
 -darwin-*,
 -fuchsia-*,
 -google-*,
 -linuxkernel-*,
 -llvm-*,
 -llvmlibc-*,
 -mpi-*,
 -objc-*,
 -openmp-*,
 -portability-*,
 -zircon-*,

 bugprone-*,
 cert-*,
 clang-analyzer-*,
 cppcoreguidelines-*,
 hicpp-*,
 misc-*,
 modernize-*,
 performance-*,
 readability-*,

 -bugprone-assignment-in-if-condition,
 -bugprone-casting-through-void,
 -bugprone-crtp-constructor-accessibility,
 -bugprone-easily-swappable-parameters,
 -bugprone-forward-declaration-namespace,
 -bugprone-inc-dec-in-conditions,
 -bugprone-incorrect-enable-shared-from-this,
 -bugprone-lambda-function-name,
 -bugprone-misplaced-widening-cast,
 -bugprone-move-forwarding-reference,
 -bugprone-multi-level-implicit-pointer-conversion,
 -bugprone-multiple-new-in-one-expression,
 -bugprone-narrowing-conversions,
 -bugprone-nondeterministic-pointer-iteration-order,
 -bugprone-optional-value-conversion,
 -bugprone-parent-virtual-call,
 -bugprone-reserved-identifier,
 -bugprone-return-const-ref-from-parameter,
 -bugprone-signed-char-misuse,
 -bugprone-string-literal-with-embedded-nul,
 -bugprone-suspicious-include,
 -bugprone-suspicious-stringview-data-usage,
 -bugprone-switch-missing-default-case,
 -bugprone-tagged-union-member-count,
 -bugprone-unchecked-optional-access,
 -bugprone-unused-raii,
 -bugprone-use-after-move,
 -cert-dcl37-c,
 -cert-dcl50-cpp,
 -cert-dcl51-cpp,
 -cert-dcl58-cpp,
 -cert-dcl59-cpp,
 -cert-env33-c,
 -cert-err09-cpp,
 -cert-err33-c,
 -cert-err34-c,
 -cert-err58-cpp,
 -cert-err60-cpp,
 -cert-err61-cpp,
 -cert-int09-c,
 -cert-msc30-c,
 -cert-msc32-c,
 -cert-msc50-cpp,
 -cert-msc51-cpp,
 -cert-oop11-cpp,
 -cert-oop54-cpp,
 -cert-str34-c,
 -clang-analyzer-core.CallAndMessage,
 -clang-analyzer-core.DivideZero,
 -clang-analyzer-core.NonNullParamChecker,
 -clang-analyzer-core.UndefinedBinaryOperatorResult,
 -clang-analyzer-core.uninitialized.Assign,
 -clang-analyzer-cplusplus.Move,
 -clang-analyzer-cplusplus.NewDelete,
 -clang-analyzer-cplusplus.NewDeleteLeaks,
 -clang-analyzer-cplusplus.StringChecker,
 -clang-analyzer-deadcode.DeadStores,
 -clang-analyzer-optin.core.EnumCastOutOfRange,
 -clang-analyzer-optin.cplusplus.UninitializedObject,
 -clang-analyzer-optin.cplusplus.VirtualCall,
 -clang-analyzer-optin.performance.Padding,
 -clang-analyzer-unix.BlockInCriticalSection,
 -clang-analyzer-unix.Stream,
 -cppcoreguidelines-avoid-c-arrays,
 -cppcoreguidelines-avoid-const-or-ref-data-members,
 -cppcoreguidelines-avoid-do-while,
 -cppcoreguidelines-avoid-magic-numbers,
 -cppcoreguidelines-avoid-non-const-global-variables,
 -cppcoreguidelines-c-copy-assignment-signature,
 -cppcoreguidelines-explicit-virtual-functions,
 -cppcoreguidelines-init-variables,
 -cppcoreguidelines-interfaces-global-init,
 -cppcoreguidelines-macro-to-enum,
 -cppcoreguidelines-macro-usage,
 -cppcoreguidelines-misleading-capture-default-by-value,
 -cppcoreguidelines-missing-std-forward,
 -cppcoreguidelines-narrowing-conversions,
 -cppcoreguidelines-no-malloc,
 -cppcoreguidelines-noexcept-move-operations,
 -cppcoreguidelines-non-private-member-variables-in-classes,
 -cppcoreguidelines-owning-memory,
 -cppcoreguidelines-prefer-member-initializer,
 -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
 -cppcoreguidelines-pro-bounds-constant-array-index,
 -cppcoreguidelines-pro-bounds-pointer-arithmetic,
 -cppcoreguidelines-pro-type-const-cast,
 -cppcoreguidelines-pro-type-cstyle-cast,
 -cppcoreguidelines-pro-type-member-init,
 -cppcoreguidelines-pro-type-reinterpret-cast,
 -cppcoreguidelines-pro-type-static-cast-downcast,
 -cppcoreguidelines-pro-type-union-access,
 -cppcoreguidelines-pro-type-vararg,
 -cppcoreguidelines-rvalue-reference-param-not-moved,
 -cppcoreguidelines-special-member-functions,
 -cppcoreguidelines-virtual-class-destructor,
 -hicpp-avoid-c-arrays,
 -hicpp-braces-around-statements,
 -hicpp-deprecated-headers,
 -hicpp-exception-baseclass,
 -hicpp-explicit-conversions,
 -hicpp-function-size,
 -hicpp-invalid-access-moved,
 -hicpp-member-init,
 -hicpp-move-const-arg,
 -hicpp-multiway-paths-covered,
 -hicpp-named-parameter,
 -hicpp-no-array-decay,
 -hicpp-no-malloc,
 -hicpp-noexcept-move,
 -hicpp-signed-bitwise,
 -hicpp-special-member-functions,
 -hicpp-use-override,
 -hicpp-vararg,
 -misc-confusable-identifiers,
 -misc-const-correctness,
 -misc-definitions-in-headers,
 -misc-header-include-cycle,
 -misc-include-cleaner,
 -misc-misplaced-const,
 -misc-no-recursion,
 -misc-non-private-member-variables-in-classes,
 -misc-redundant-expression,
 -misc-throw-by-value-catch-by-reference,
 -misc-unconventional-assign-operator,
 -misc-unused-parameters,
 -misc-use-anonymous-namespace,
 -misc-use-internal-linkage,
 -modernize-avoid-bind,
 -modernize-avoid-c-arrays,
 -modernize-deprecated-headers,
 -modernize-loop-convert,
 -modernize-make-unique,
 -modernize-pass-by-value,
 -modernize-raw-string-literal,
 -modernize-use-bool-literals,
 -modernize-use-nodiscard,
 -modernize-use-override,
 -modernize-use-transparent-functors,
 -performance-avoid-endl,
 -performance-enum-size,
 -performance-faster-string-find,
 -performance-inefficient-string-concatenation,
 -performance-inefficient-vector-operation,
 -performance-move-const-arg,
 -performance-move-constructor-init,
 -performance-no-automatic-move,
 -performance-no-int-to-ptr,
 -performance-noexcept-move-constructor,
 -performance-unnecessary-copy-initialization,
 -performance-unnecessary-value-param,
 -readability-avoid-const-params-in-decls,
 -readability-avoid-nested-conditional-operator,
 -readability-braces-around-statements,
 -readability-const-return-type,
 -readability-convert-member-functions-to-static,
 -readability-else-after-return,
 -readability-function-cognitive-complexity,
 -readability-function-size,
 -readability-identifier-length,
 -readability-implicit-bool-conversion,
 -readability-inconsistent-declaration-parameter-name,
 -readability-magic-numbers,
 -readability-make-member-function-const,
 -readability-math-missing-parentheses,
 -readability-named-parameter,
 -readability-non-const-parameter,
 -readability-qualified-auto,
 -readability-redundant-casting,
 -readability-redundant-member-init,
 -readability-simplify-boolean-expr,
 -readability-static-accessed-through-instance,
 -readability-static-definition-in-anonymous-namespace,
 -readability-suspicious-call-argument,
 -readability-use-anyofallof,


 -modernize-use-trailing-return-type,
 '

WarningsAsErrors: "*,-clang-diagnostic-*"
