# We enable group of checks like for example `modernize-*` or `readability-*` and disable only the failing ones.
# When fixing particular check, just remove it from skiplist.
# Bottom section is for checks skipped on purpose.
Checks: '*,
 -abseil-*,
 -altera-*,
 -android-*,
 -boost-*,
 -concurrency-*,
 -darwin-*,
 -fuchsia-*,
 -google-*,
 -linuxkernel-*,
 -llvm-*,
 -llvmlibc-*,
 -mpi-*,
 -objc-*,
 -openmp-*,
 -portability-*,
 -zircon-*,

 bugprone-*,
 cert-*,
 clang-analyzer-*,
 cppcoreguidelines-*,
 hicpp-*,
 misc-*,
 modernize-*,
 performance-*,
 readability-*,

 -bugprone-assignment-in-if-condition,
 -bugprone-casting-through-void,
 -bugprone-easily-swappable-parameters,
 -bugprone-misplaced-widening-cast,
 -bugprone-multiple-new-in-one-expression,
 -bugprone-narrowing-conversions,
 -bugprone-nondeterministic-pointer-iteration-order,
 -bugprone-optional-value-conversion,
 -bugprone-parent-virtual-call,
 -bugprone-reserved-identifier,
 -bugprone-return-const-ref-from-parameter,
 -bugprone-suspicious-include,
 -bugprone-suspicious-stringview-data-usage,
 -bugprone-switch-missing-default-case,
 -bugprone-unused-raii,
 -bugprone-use-after-move,
 -cert-dcl37-c,
 -cert-dcl50-cpp,
 -cert-dcl51-cpp,
 -cert-err34-c,
 -cert-err58-cpp,
 -cert-str34-c,
 -clang-analyzer-core.UndefinedBinaryOperatorResult,
 -clang-analyzer-core.uninitialized.Assign,
 -clang-analyzer-cplusplus.NewDelete,
 -clang-analyzer-optin.cplusplus.VirtualCall,
 -cppcoreguidelines-avoid-c-arrays,
 -cppcoreguidelines-avoid-const-or-ref-data-members,
 -cppcoreguidelines-avoid-do-while,
 -cppcoreguidelines-avoid-magic-numbers,
 -cppcoreguidelines-avoid-non-const-global-variables,
 -cppcoreguidelines-init-variables,
 -cppcoreguidelines-interfaces-global-init,
 -cppcoreguidelines-macro-usage,
 -cppcoreguidelines-narrowing-conversions,
 -cppcoreguidelines-non-private-member-variables-in-classes,
 -cppcoreguidelines-owning-memory,
 -cppcoreguidelines-prefer-member-initializer,
 -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
 -cppcoreguidelines-pro-bounds-constant-array-index,
 -cppcoreguidelines-pro-bounds-pointer-arithmetic,
 -cppcoreguidelines-pro-type-const-cast,
 -cppcoreguidelines-pro-type-cstyle-cast,
 -cppcoreguidelines-pro-type-member-init,
 -cppcoreguidelines-pro-type-reinterpret-cast,
 -cppcoreguidelines-pro-type-static-cast-downcast,
 -cppcoreguidelines-pro-type-union-access,
 -cppcoreguidelines-pro-type-vararg,
 -cppcoreguidelines-rvalue-reference-param-not-moved,
 -cppcoreguidelines-special-member-functions,
 -cppcoreguidelines-virtual-class-destructor,
 -hicpp-avoid-c-arrays,
 -hicpp-braces-around-statements,
 -hicpp-explicit-conversions,
 -hicpp-function-size,
 -hicpp-invalid-access-moved,
 -hicpp-member-init,
 -hicpp-move-const-arg,
 -hicpp-no-array-decay,
 -hicpp-signed-bitwise,
 -hicpp-special-member-functions,
 -hicpp-vararg,
 -misc-const-correctness,
 -misc-include-cleaner,
 -misc-misplaced-const,
 -misc-no-recursion,
 -misc-non-private-member-variables-in-classes,
 -misc-use-anonymous-namespace,
 -misc-use-internal-linkage,
 -modernize-avoid-c-arrays,
 -modernize-loop-convert,
 -modernize-make-unique,
 -modernize-pass-by-value,
 -modernize-raw-string-literal,
 -modernize-use-nodiscard,
 -modernize-use-transparent-functors,
 -performance-avoid-endl,
 -performance-enum-size,
 -performance-inefficient-string-concatenation,
 -performance-inefficient-vector-operation,
 -performance-move-const-arg,
 -performance-no-automatic-move,
 -performance-no-int-to-ptr,
 -performance-unnecessary-copy-initialization,
 -performance-unnecessary-value-param,
 -readability-avoid-nested-conditional-operator,
 -readability-braces-around-statements,
 -readability-convert-member-functions-to-static,
 -readability-else-after-return,
 -readability-function-cognitive-complexity,
 -readability-function-size,
 -readability-identifier-length,
 -readability-implicit-bool-conversion,
 -readability-inconsistent-declaration-parameter-name,
 -readability-magic-numbers,
 -readability-make-member-function-const,
 -readability-math-missing-parentheses,
 -readability-qualified-auto,
 -readability-simplify-boolean-expr,
 -readability-static-accessed-through-instance,
 -readability-suspicious-call-argument,

 -modernize-use-trailing-return-type,

 -readability-container-contains,
 -misc-confusable-identifiers,
 -modernize-replace-auto-ptr,
 -modernize-deprecated-ios-base-aliases,
 -hicpp-use-nullptr,
 -hicpp-uppercase-literal-suffix,
 -hicpp-ignored-remove-result,
 -hicpp-use-noexcept,
 -hicpp-use-equals-default,
 -hicpp-no-malloc,
 -hicpp-named-parameter,
 -hicpp-use-override,
 -hicpp-use-equals-delete,
 -hicpp-use-auto,
 -hicpp-noexcept-move,
 -hicpp-use-emplace,
 -cert-fio38-c,
 -cert-arr39-c,
 -cert-dcl16-c,
 '

# Some checks above suppressed as those does not make sense and significantly slow down analysis
# -readability-container-contains,        # C++20+ only
# -misc-confusable-identifiers,           # unpractical
# -modernize-replace-auto-ptr,            # C++17 does not allow auto_ptr at all
# -modernize-deprecated-ios-base-aliases, # unpractical
# -hicpp-use-nullptr,                     # same as modernize-use-nullptr
# -hicpp-uppercase-literal-suffix,        # same as modernize-uppercase-literal-suffix
# -hicpp-ignored-remove-result,           # subset of bugprone-unused-return-value
# -hicpp-use-noexcept,                    # same as modernize-use-noexcept
# -hicpp-use-equals-default,              # same as modernize-use-equals-default
# -hicpp-no-malloc,                       # same as cppcoreguidelines-no-malloc
# -hicpp-named-parameter,                 # same as readability-named-parameter
# -hicpp-use-override,                    # same as modernize-use-override
# -hicpp-use-equals-delete,               # same as modernize-use-equals-delete
# -hicpp-use-auto,                        # same as modernize-use-auto
# -hicpp-noexcept-move,                   # same as performance-noexcept-move-constructor
# -hicpp-use-emplace,                     # same as modernize-use-emplace
# -cert-fio38-c                           # same as misc-non-copyable-objects
# -cert-arr39-c                           # same as bugprone-sizeof-expression
# -cert-dcl16-c                           # same as modernize-uppercase-literal-suffix

WarningsAsErrors: "*,-clang-diagnostic-*"
