**/*build*/**
!.devops/build_profiles/**
.*
!.ci
!.devops
!.gitignore
*cache*/
data/
*.log
*.so
*.so.*
*.bin
*.used
*.pbtxt
*.swp
*.swo
*.egg-info
test_pt_integration
test_pt2_integration
python_packages/habana_frameworks/torch/internal/bridge_config.py
