# Common
numpy
packaging>=24.1
pandas
protobuf>=4.25.8 # required for graph visualization during runtime
pybind11
pydot
regex>=2023.5.5
tabulate
wheel>=0.40

# Lightning with Habana support
lightning==2.5.1
lightning-habana==1.6.0
torchmetrics>=0.8.0
