cassandra-driver==3.23.0
dataclasses-json==0.5.7
distro==1.5.0
elasticsearch==7.9.1
expecttest==0.1.4
hypothesis==6.54.4
jira==3.4.1
junitparser==2.2.0
matplotlib==3.5.3
pkginfo
pyfakefs
jsonschema
psutil==5.9.1
py-cpuinfo==8.0.0
pylint==2.15.0
pymongo==3.7.2
pytest==7.1.2
pytest-clarity==1.0.1
pytest-forked==1.4.0
pytest-html==3.1.1
pytest-logger==0.5.1
pytest-profiling==1.7.0
pytest-random-order==1.0.4
pytest-repeat==0.9.1
pytest-timeout==2.1.0
pytest-xdist==2.5.0
pytest-mock
pyvirtualdisplay==0.2.4
tox==3.24.4
scipy==1.9.1
mpi4py
jsonpickle
tensorboard==2.11.2
